    .main {
        padding-top: 30%;
        text-align: center;
    }
    
    .word {
        font-family: PingFangSC-Regular;
        font-size: .32rem;
        color: #333333;
        letter-spacing: 0.52px;
        margin-bottom: 20%;
    }
    
    .btn {
        width: 3rem;
        height: .88rem;
        background: #48CA41;
        border-radius: .44rem;
        border: 0;
        margin-top: 5%;
        font-family: PingFangSC-Regular;
        font-size: .28rem;
        color: #FFFFFF;
        letter-spacing: 0.45px;
        text-align: center;
        outline: none;
        margin-top: 1.5rem;
    }
    
    .form-item {
        width: 5.18rem;
        height: .5rem;
        font-size: .28rem;
        color: #999999;
        border-bottom: 1px solid #e4e4e4;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: .5rem;
    }

    .form-item input{
        margin-left: .3rem;
        border: 0;
        outline: none;
        width: 2.5rem;
    }

.codeBtn{
    width: 1.4rem;
    height: .52rem;
    border: 1px solid #48CA41;
    border-radius: 26px;
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #48CA41;
    letter-spacing: 0.39px;
    text-align: center;
    background: transparent;
    margin-bottom: 3px;
}
    