body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,figure {
	margin: 0;
	padding: 0;
}
html {
	font-size: 24px;
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	/*font-family: "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;*/
	font-family:Arial, "Microsoft YaHei", SimHei, "Hiragino Sans GB",STXihei;
	position: relative;
	width: 100%;
	height: 100%;
	 font-size: .32rem;
	/* font-size: 0rem; */
	visibility:hidden;
	border-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
ul, ol {
	list-style: none;
}
img {
	border: 0;
}
em, i, b, strong {
	font-style: normal;
	font-weight: normal;
}
a {
	text-decoration: none;	
}
a:link{
	color: #fff;
}
a:visited {
	color: #fff;
}
a:hover{
	color: #fff;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
body{
	padding-top: constant(safe-area-inset-top);   /*为导航栏+状态栏的高度 88px  */          
    padding-left: constant(safe-area-inset-left);   /*如果未竖屏时为0  */              
    padding-right: constant(safe-area-inset-right); /*如果未竖屏时为0 */               
    padding-bottom: constant(safe-area-inset-bottom);/*为底下圆弧的高度 34px */ 
}

.index{ position: relative; width: 100%; height: 100%;}
.swiper-container{ position: fixed; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%;}
.swiper-slide{ position: relative; width: 100%; height: 100%; background-color: #fff; overflow: hidden;}
/*首页*/
.bg{ position: absolute; top: 0; left: 0; width: 100%; height: auto;}
.textBox{ position: relative; margin: 0 auto; margin-top: .52rem; padding: .2rem; width: 5.6rem; height: auto; font-size: .28rem; color: #800818; line-height: .36rem; background: #fff; border-radius: .3rem; border: .04rem solid #800718; }
.btnBox{ position: relative; margin-top: 3.2rem; width: 100%; height: auto;}
.btnBox img.btn{ margin-bottom: .3rem; margin-left: .7rem;}
#page1 .btn{ position: absolute; left: 50%; margin-left: -2.18rem; bottom: 1rem; width: 4.36rem; height: 1.16rem;}

/*答题第一页*/
#page2 .btn{ display: none; position: relative; float: left; width: 2.6rem; height: 1.16rem;}

/*海报第一页*/
.avatar-box{ position: absolute; z-index: 2; top: .3rem; left: .7rem; width: 3.3rem; height: .9rem; overflow: hidden;}
.avatar-box .border{ position: absolute; z-index: 3; top: 0; left: 0; width: 100%; height: 100%;}
.avatar-box .avatar{ position: absolute; z-index: 2; top: 0; left: 0; width: .8rem; height: .8rem; border-radius: 50%;}
.avatar-box p.name{ position: relative; margin-left: 1rem; z-index: 3; font-size: .3rem; color: #000; line-height: .8rem; width: 2.2rem; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
#page3 .bg{ height: 100%;}
#page3 .person{ position: absolute; top: 1rem; left: 50%; margin-left: -3.38rem; width: 6.76rem; height: auto;}
.bottom{ position: absolute; z-index: 3; left: 0; bottom: 0; width: 100%; height: 1.75rem;}

/*分享页*/
.sharePage{ position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.8);}
.sharePage img{ position: absolute; top: 1rem; right: 1rem; width: 1.4rem; height: 1.4rem;
	animation: share 1s ease-in-out infinite alternate;
	-webkit-animation: share 1s ease-in-out infinite alternate;
}


@keyframes share {
    0%   {top: 1rem; right: 1rem;}
    100% {top: .5rem; right: .5rem;}
}

@-webkit-keyframes share {
   0%   {top: 1rem; right: 1rem;}
    100% {top: .5rem; right: .5rem;}
}

/*音乐按钮*/
.musicControl{ display: block; width: .6rem; height: .6rem; position: absolute; top: .5rem; right: .24rem; z-index: 50;}
.musicControl a{display: block; width: 100%; height: 100%; background: url(../tpl/img/MP3_coin1.png) no-repeat; background-size: cover;}
canvas{ position: fixed; top: 0; left: 0; z-index: 1; width: 100%; height: 100%;}
.musicControl a audio{width:100%;height:100%;}
.musicControl a.on {animation: reverseRotataZ 1.2s linear infinite; -webkit-animation: reverseRotataZ 1.2s linear infinite;}
.musicControl a.stop{background: url(../tpl/img/MP3_coin2.png) no-repeat; background-size: cover; }
.musicControl1{ left: .24rem;}
.musicControl2{ left: .24rem; top: 1.3rem;}
.musicControl3{ right: .24rem; top: .6rem;}

@-webkit-keyframes reverseRotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(-360deg);}
}

@keyframes reverseRotataZ{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(-360deg);}
}


@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){ 
    
    body{
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
   }
}
@media screen and (min-height:750px){
   
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){ 
    
    body{
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
   }

}