body {
    background: #f2f2f2;
}

.tab-box {
    width: 100%;
    height: 1.17rem;
    background: #fff;

}

.tab {
    width: 70%;
    height: 1.17rem;
    /* background: #fff; */
    font-family: PingFangSC-Regular;
    font-size: .28rem;
    color: #48CA41;
    letter-spacing: 0.45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #000; */
    margin: 0 auto;
}

.tab-item {
    /* width: .3rem; */
    padding: .38rem;
    /* border-bottom: 2px solid #48CA41; */
}
.active{
    border-bottom: 2px solid #48CA41;

}
.suggest-box {
    width: 100%;
    height: 4.32rem;
    background: #fff;
    margin-top: .4rem;
}

.suggest-title {
    width: 95%;
    height: .4rem;
    padding: .2rem .1rem;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    font-size: .28rem;
    color: #333333;
    margin: 0 auto;
}

.suggest-title input {
    border: 0;
    outline: none;
}

.suggest-content {
    text-align: center;
    margin-top: .3rem;
    padding: 0 0.3rem;
}

.textarea {
    border: 0;
    outline: none;
    width: 100%;
    height: 3rem;
}

.submit {
    width: 6rem;
    height: .88rem;
    background: #48CA41;
    border-radius: 44px;
    border: 0;
    outline: none;
    font-size: .28rem;
    color: #FFFFFF;
}

.btn {
    text-align: center;
}

.tab-container {
    background: #FFFFFF;
    margin-top: .4rem;

}

.my-suggest {
    width: 90%;
    font-size: .24rem;
    color: #666666;
    letter-spacing: 0.39px;
    margin-top: .4rem;
    border-bottom: 1px solid #e4e4e4;
    margin: 0 auto;
}

.my-title {
    font-size: .28rem;
    color: #333333;
    letter-spacing: 0.45px;
    padding: 0rem .2rem;
    padding-top: .4rem;
}

.my-suggest-content {
    padding: .2rem;
}

.suggest-time,
.reply-time {
    display: flex;
    justify-content: flex-end;
    padding: .2rem;
    font-size: .24rem;
    color: #999999;
}

.reply-box {
    padding: .2rem;
    border-bottom: 1px solid #f2f2f2;
}

.reply {
    display: flex;
    font-size: .24rem;
    color: #666666;
    letter-spacing: 0.45px;
}

.reply-content {
    width: 6rem;
}